name: Pull request

on:
  pull_request:
    branches: [master]

jobs:
  precheck:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18]
        os:
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: pnpm/action-setup@v2
        with:
          run_install: false

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Node packages audit
        run: pnpm audit --prod

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        env:
          CI: 1

      - name: Project checks
        run: pnpm -r pre-check

      - name: Integration tests
        run: packages/qdrant-js/scripts/integration-tests.sh
        shell: bash
