name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    strategy:
      matrix:
        node-version: [18]
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 9.15.9
          run_install: false

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          scope: "@qdrant"
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"

      - name: Node packages audit
        run: pnpm audit --prod

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
        env:
          CI: 1

      - name: Add registry path to .npmrc
        run: |
          cat << EOF > "$HOME/.npmrc"
            //registry.npmjs.org/:_authToken=$NPM_TOKEN
          EOF
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - run: node scripts/prepublish.mjs
      - run: pnpm publish --provenance --no-git-checks --filter '!monorepo'

      - name: Archive npm failure logs
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: npm-logs
          path: ~/.npm/_logs
          retention-days: 30
